<img src="/img/eyes.webp" class="bio-photo"> 

<a id="theme-toggle" onclick="modeSwitcher()"></a>

<!--
<p><em>“It matters not how strait the gate,<br>
      How charged with punishments the scroll,<br>
I am the master of my fate,<br>
      I am the captain of my soul.” ― <a href="https://www.poetryfoundation.org/poems/51642/invictus" rel="nofollow" target="_blank" title="My favorite poem of all time.">Invictus by William&nbsp;Henley</a></em></p>

<p><em>“Comparison is the thief of joy.” ― <a href="https://quoteinvestigator.com/2021/02/06/thief-of-joy/" rel="nofollow" target="_blank" title="Because I have to investigate everything.">Ray&nbsp;Cummings</a></em></p>
-->

<p><strong>Current Obsession(s):</strong> Kandi Bracelets, Gorillaz, Bass Guitar</p>
<p><strong>Wants to Try:</strong> Knitting more, Making Plushies</p>
<p><strong>Name:</strong> Lo(ren)</p>
<p><strong>Pronouns:</strong> He/She/They</p>
<p><strong>Age:</strong> Adult</p>
<p><strong>Relationship:</strong> Engaged&nbsp;♥</p>
<p><strong>Orientation:</strong> Androsexual</p>
<p><strong>Gender:</strong> Genderfluid</p>
<p><strong>Sex:</strong> Female</p>
<p><strong>Languages:</strong> English (Native), Spanish (Native), French&nbsp;(B1), German&nbsp;(A2‐B1)</p>
<p><strong>Profession:</strong> Front-End Web Development and Design</p>
<p><strong>Hobbies &amp; Interests:</strong> Kandi Bracelets, Sewing, Foreign Languages, True Crime, World History, Gothic/Horror/Tragedy/Thrillers, Mythical Creatures (especially werewolves &amp; dragons), Forbidden Love, Zoology, Psychology, ASMR, Candles, Drawing Characters, PS2 and PC Games, Ty Beanie Babies, Cute Bags, Hats, LGBTQ+</p>
<p><strong>Favorite Bands &amp; Musicians:</strong> Fred Falke, Miami Horror, Rammstein, China&nbsp;Crisis, Windows&nbsp;96, Jack Stauber, Lemon Demon, VAST, Gorillaz, System of a Down, KMFDM, Aphex Twin, Smashing Pumpkins, Nine Inch Nails, Radiohead, Mindless Self Indulgence, Naked Eyes, Modern Talking, The Smiths, The Cure, Depeche Mode, Metallica, Kate Bush, Red Hot Chili Peppers, Gwen Stefani, Tame Impala</p>
<p><strong>Favorite Music Genres:</strong> R&amp;B, New Wave, Synth-pop, Dance/Electronic, Alt-Rock, Hard Rock, Industrial Metal</p>
<p><strong>Favorite Video Games:</strong> Spyro 2, Okami, Hypnospace Outlaw, Broken Reality, Silent Hill 2, Animal Crossing, Hello Kitty, Postal 2, Grand Theft Auto: San Andreas, Penumbra, Snake Pass, DDLC</p>
<p><strong>Favorite Movies or Shows:</strong> Memento, Triangle, Scream, American Psycho, Drive, Ex Machina, Joker, Mulholland Drive, The Silence of the Lambs, Inglorious Basterds, Falling Down, Full Metal Jacket, Pan's Labyrinth, The Believer, Final Destination 5 & 6, Natural Born Killers, Van Helsing, Breaking Bad, Spiderman, Svengali, CUBE, Bang Bang You're Dead, Carrie (2013)</p>
<p><strong>Favorite Animated Movies or Shows:</strong> End of Evangelion, Perfect Blue, Paranoia Agent, Hellsing, Death Note, Balto, The Iron Giant, Mulan, The Hunchback of Notre Dame, Serial Experiments Lain, Ouran High School Host Club, Dear Brother, Land of the Lustrous, Watamote, Ferngully, Catwoman, Souichi Tsujii</p>
<p><strong>Favorite Books:</strong> The Phantom of the Opera, Frankenstein, American Psycho, Carrie, Why Kids Kill, The Book Thief, Flowers for Algernon, Wuthering Heights, A Clockwork Orange</p>
<p><strong>Favorite Artists:</strong> <a href="https://cmsmc.org/publications/her-perfection-is-my-wound" rel="nofollow" target="_blank">Hans Bellmer</a>, Jamie Hewlett, Junji Ito, <a href="https://www.instagram.com/kimnobleartist_/" rel="nofollow" target="_blank">Kim Noble</a></p>
<p><strong>Favorite Creatures:</strong> Birds, Toads, Moles, Shrews, Bugs, Dragons, Werewolves</p>
<p><strong>Spirit Animal:</strong> The Mole</p>
<p><strong>Fursona Species:</strong> Wolf</p>
<p><strong>Favorite Colors:</strong> Green, Pink, Rainbows</p>
<p><strong>Favorite Number:</strong> Five&nbsp;(5)</p>
<p><strong>Beliefs:</strong> Atheist</p>
<p><strong>Personality Type:</strong> INFP 4w3 468 or 458</p>
<p><strong>Bookmarks:</strong> <a href="https://maeveglaistig.wixsite.com/phantomproject" target="_blank" rel="nofollow" title="Gotta check these out.">The Phantom Library</a>, <a href="https://phantomstheater.weebly.com/" target="_blank" rel="nofollow" title="Lots of cool info.">Phantom's Theater</a>, <a href="https://schoolshooters.info/" target="_blank" rel="nofollow" title="I love this author.">SchoolShooters.info</a></p>

{% include stamps.html %}
